*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header{
  display: flex;
  flex-direction: column;
  background: #EEEFF1;
  height: 700px;
  width: 100%;
}
.header1{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content:  center;
  margin-top: 57px;
}
.logo{
  font-size: 5em;
  font-family: sans-serif;
  margin-right: 20%;
}
nav{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}
.nava{
  margin-left: 5%;
}
.header2{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content:  center;
  margin-top: 8%;
}
.wd{
  margin-left: 130px;
}
h1{
  font-size: 2em;
  font-family: serif;
}
h2{
  font-size: 2em;
}
p{
  font-size: 1em;
}
button{
  outline: none;
  font-size: 16px;
  border: none;
  color: #ffffff;
  text-align: center;
  width: 220px;
  height: 65px;
  background: #34547A;
  cursor: pointer;
}
section{
  width: 100%;
  height: 366px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centr{
  width: 540px;
  text-align: center;
}
.zvezda{
  width: 100%;
  height: 205px;
  background: #34547A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.zvezdu{
  display: flex;
  flex-direction: row;
}
.zvezda1{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
h3{
  font-size: 21px;
}
.zvezdatext{
  margin-left: 20px;
  color: #FFFFFF;
}
.progress{
  width: 100%;
  height: 653px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progresstext{
  margin-top: 100px;
  width: 595px;
  height: 450px;
}
.progressimg{
  width: 555px;
  height: 450px;
  background-size: cover;
}
.progressbar{
  width: 80%;
  height: 10px;
  background-color: #C4C4C4;

}
.progressbar1{
  margin-top: 10px;
  width: 80%;
  height: 10px;
  background-color: #34547A;
}
.vork{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEFF1;
  width: 100%;
  height: 1000px;
  }
.vorkvideo{
  width: 80%;
  height: 600px;
  background-image: url("Rectangle 5.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.photocollage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1280px;
}
.photocollage1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  width: 100%;
  height: 100%;
}
.photocollage10{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.photo1{
  width: 100%;
  height: 100%;
  background-image: url("Rectangle 7.3.jpg");
  background-position: center;
  background-size: cover;
}
.photo2{
  width: 100%;
  height: 100%;
  background-image: url("Rectangle 7.jpg");
  background-size: cover;
  background-position: center;
}
.photocollage2{
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
  /* display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.photo3{
  width: 255px;
  height: 120px;
  background-image: url("Rectangle 9.3.png");
  background-size: cover;
  margin-left: 30px;
}
.zakaz{
  background-color: #EEEFF1;
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formaaut{
  width: 540px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
input[type=text], select, textarea {
  outline: none;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical ;
}
input[type=submit] {
  background-color: #34547A;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
footer{
  width: 100%;
  height: 150px;
  background-color: #34547A;
  display: table;
}
.aftor{
  color: #FFFFFF;
  float: left;
  margin-left: 100px;
  margin-top: 50px;
}
